<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SEMINUEVOS PREMIUM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Serfitex.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/bundle.css?v131">
    <link rel="stylesheet" href="~/assets/css/app.css?v131">
    <style>
        .dropdownmenu ul,
        .dropdownmenu li {
            margin: 0;
            padding: 0;
        }

        .dropdownmenu ul {
            background: gray;
            list-style: none;
            width: auto;
        }

        .dropdownmenu li {
            float: left;
            position: relative;
            width: auto;
        }

        .dropdownmenu a {
            background: #EB5625;
            color: #FFFFFF;
            display: block;
            font: bold 12px/20px sans-serif;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

        .dropdownmenu li:hover a {
            background: #000000;
        }

        .submenu {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 35px;
            visibility: hidden;
            z-index: 1;
        }

        li:hover ul.submenu {
            opacity: 1;
            top: 40px;
            /* adjust this as per top nav padding top & bottom comes */
            visibility: visible;
        }

        .submenu li {
            float: none;
            width: 100%;
        }

        .submenu a:hover {
            background: #DF4B05;
        }

        .submenu a {
            background-color: #000000;
        }
    </style>

</head>

<body>
    <header>

    </header>
    </BR>
    <div class="container">
    <main role="main" class="pb-3">
        <nav class="dropdownmenu">
            <ul>
                @Html.Raw(Context.Request.HttpContext.Session.GetString("menu") ?? "")
                <li>
                    <a href="Unidades">Unidades</a>
                </li>
            </ul>
            
            <ul>
                @Html.Raw(Context.Request.HttpContext.Session.GetString("menu") ?? "")
                <li class="dropdown">
                    <!-- Menú principal -->
                    <a href="#">Próximos pagos</a>
                    <!-- Submenú -->
                    <ul class="submenu">
                        <li><a href="ProximosPagosTenencias">Próximos Pagos Tenencias</a></li>
                        <li><a href="ProximosPagosVerificaciones">Próximos Pagos Verificaciones</a></li>
                    </ul>
                </li>
            </ul>
            
            <ul>
                @Html.Raw(Context.Request.HttpContext.Session.GetString("menu") ?? "")
                <li>
                    <a href="ReporteUnidades">Reporte Unidades</a>
                </li>
            </ul>
            
            <ul>
                @Html.Raw(Context.Request.HttpContext.Session.GetString("menu") ?? "")
                <li>
                    <a asp-area="" asp-controller="LogOut" asp-action="Index">Salir</a>
                </li>
            </ul>
        </nav>
        
        <br />
        <br />
        @RenderBody()
    </main>
</div>


    <footer class="border-top footer text-muted">
        <d@* iv class="container"> &copy; 2023 - Serfitex - <a asp-area="" asp-controller="Home"
            asp-action="Privacy">Privacidad</a> </div> *@ </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>
    function cambiarConexion() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            // document.getElementById("demo").innerHTML = this.responseText;
        }

        var e = document.getElementById("clientes");
        var value = e.value;
        var cliente = e.options[e.selectedIndex].text;

        xhttp.open("GET", "/FP_Administration/Home/cambiarConexion?cliente=" + cliente, true);
        xhttp.send();

        location.reload();
    }
</script>