@model IEnumerable<Serfitex.Models.Ta_gastos>

@{
    ViewData["Title"] = "Index";
    var fiperfil = ViewContext.HttpContext.Session.GetString("fiperfil");

    decimal totalPrecio_compra = Model.Sum(m => m.Precio_compra);
    decimal totalGastos = Model.Sum(m => m.Gastos); 
    decimal totalTotal_compra_gastos = Model.Sum(m => m.Total_compra_gastos); 
    decimal totalPrecio = Model.Sum(m => m.Precio); 
}

<h1>Precios de unidades</h1>

@if (fiperfil == "1")
{
    <p>
        <!-- Puedes añadir cualquier mensaje o botón aquí si es necesario -->
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo) <!-- Ya no se usa First() -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal) <!-- Ya no se usa First() -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gastos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_compra_gastos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) 
        {
            var item = Model.ElementAt(i);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @($"${item.Precio_compra:N2}")
                </td>
                <td>
                    @($"${item.Gastos:N2}")
                </td>
                <td>
                    @($"${item.Total_compra_gastos:N2}")
                </td>
                <td>
                    @($"${item.Precio:N2}")
                </td>
                <td>
                    @if (fiperfil == "1")
                    {
                        <a asp-action="Gasto" asp-route-id="@item.Id_unidad" class="btn btn-primary">Agregar gasto</a>
                        <a asp-action="Details" asp-route-id="@item.Id_unidad" class="btn btn-primary">Detalle Gastos</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td><strong>@($"${totalPrecio_compra:N2}")</strong></td>
            <td><strong>@($"${totalGastos:N2}")</strong></td>
            <td><strong>@($"${totalTotal_compra_gastos:N2}")</strong></td>
            <td><strong>@($"${totalPrecio:N2}")</strong></td>
        </tr>
    </tfoot>
</table>
