@model IEnumerable<Serfitex.Models.Ta_gastos>

@{
    ViewData["Title"] = "Index";
    var fiperfil = ViewContext.HttpContext.Session.GetString("fiperfil");
}

<h1>Precios de unidades</h1>

@if (fiperfil == "1")
{
    <p>
        <!-- Puedes añadir cualquier mensaje o botón aquí si es necesario -->
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Modelo) <!-- Asegúrate de que esto corresponda -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Sucursal) <!-- Asegúrate de que esto corresponda -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gastos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_compra_gastos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) // Cambiado a Count() para el índice
        {
            var item = Model.ElementAt(i); // Obtiene el item actual del modelo
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @($"${item.Precio_compra:N2}")
                </td>
                <td>
                    @($"${item.Gastos:N2}")
                </td>
                <td>
                    @($"${item.Total_compra_gastos:N2}")
                </td>
                <td>
                    @($"${item.Precio:N2}")
                </td>
                <td>
                    @if (fiperfil == "1")
                    {
                        <a asp-action="Gasto" asp-route-id="@item.Id_unidad" class="btn btn-primary">Agregar gasto</a>
                        <a asp-action="Details" asp-route-id="@item.Id_unidad" class="btn btn-primary">Detalle Gastos</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
