@model List<Serfitex.Models.ProximosPagosVerificaciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Próximas Verificaciones</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Modelo)</th>
            <th>@Html.DisplayNameFor(model => model[0].Marca)</th>
            <th>@Html.DisplayNameFor(model => model[0].Sucursal)</th>
            <th>@Html.DisplayNameFor(model => model[0].Fech_prox_verificacion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.Sucursal)</td>
                <td>@String.Format("{0:dd/MM/yyyy}", item.Fech_prox_verificacion)</td>
                <td>
                    @if (item.MostrarBoton) // Verifica si se debe mostrar el botón
                    {
                        <a asp-action="RealizarPagoT" asp-route-id="@item.Id_unidad" class="btn btn-primary">Registrar Pago</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
