@model IEnumerable<WebApp.Models.login_user>

@{
    ViewData["Title"] = "Index";
    var fiperfil = ViewContext.HttpContext.Session.GetString("fiperfil");
}

<h1>Usuarios</h1>

@if (fiperfil == "1")
{
    <p>
    <a asp-action="Create" class="btn btn-primary">Agregar Usuario</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usr_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) // Cambiado a Count() para el índice
        {
            var item = Model.ElementAt(i); // Obtiene el item actual del modelo
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usr_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_perfil)
                </td>
                <td>
                    @if (fiperfil == "1")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID_USR" class="btn btn-primary">Editar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
