@model IEnumerable<Serfitex.Models.ProximosPagos>

@{
    ViewData["Title"] = "Index";
    var tenencias = ViewData["Tenencias"] as List<Serfitex.Models.Unidades>;
    var verificaciones = ViewData["Verificaciones"] as List<Serfitex.Models.Unidades>;
}

<h1>Próximas Tenencias</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Modelo)</th>
            <th>@Html.DisplayNameFor(model => model.Marca)</th>
            <th>@Html.DisplayNameFor(model => model.Sucursal)</th>
            <th>@Html.DisplayNameFor(model => model.Fech_prox_tenecia)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tenencias)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.Sucursal)</td>
                <td>@String.Format("{0:dd/MM/yyyy}", item.Fech_prox_tenecia)</td>
                <td>
                    @* Optionally, you can add Edit or Details buttons *@
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Próximas Verificaciones</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Modelo)</th>
            <th>@Html.DisplayNameFor(model => model.Marca)</th>
            <th>@Html.DisplayNameFor(model => model.Sucursal)</th>
            <th>@Html.DisplayNameFor(model => model.Fech_prox_verificacion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in verificaciones)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.Sucursal)</td>
                <td>@String.Format("{0:dd/MM/yyyy}", item.Fech_prox_verificacion)</td>
                <td>
                    @* Optionally, you can add Edit or Details buttons *@
                </td>
            </tr>
        }
    </tbody>
</table>