@model Serfitex.Models.Unidades

@{
    ViewData["Title"] = "Detalles";
    var fiperfil = ViewContext.HttpContext.Session.GetString("fiperfil");
}

<h1>Detalle de @Model.Modelo</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Sucursal)</strong></td>
                        <td>@Html.DisplayFor(model => model.Sucursal)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fecha_ingreso)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fecha_ingreso)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Modelo)</strong></td>
                        <td>@Html.DisplayFor(model => model.Modelo)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Version)</strong></td>
                        <td>@Html.DisplayFor(model => model.Version)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Tipo)</strong></td>
                        <td>@Html.DisplayFor(model => model.Tipo)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Marca)</strong></td>
                        <td>@Html.DisplayFor(model => model.Marca)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Transmision)</strong></td>
                        <td>@Html.DisplayFor(model => model.Transmision)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Num_placa)</strong></td>
                        <td>@Html.DisplayFor(model => model.Num_placa)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Num_serie)</strong></td>
                        <td>@Html.DisplayFor(model => model.Num_serie)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Ano)</strong></td>
                        <td>@Html.DisplayFor(model => model.Ano)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Color)</strong></td>
                        <td>@Html.DisplayFor(model => model.Color)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fecha_factura)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fecha_factura)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Tipo_factura)</strong></td>
                        <td>@Html.DisplayFor(model => model.Tipo_factura)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fecha_tenencia)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fecha_tenencia)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fecha_verificacion)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fecha_verificacion)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Seguro)</strong></td>
                        <td>@Html.DisplayFor(model => model.Seguro)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Aseguradora)</strong></td>
                        <td>@Html.DisplayFor(model => model.Aseguradora)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Duplicado_llave)</strong></td>
                        <td>@Html.DisplayFor(model => model.Duplicado_llave)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Comentario)</strong></td>
                        <td>@Html.DisplayFor(model => model.Comentario)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Precio)</strong></td>
                        <td>$ @Html.DisplayFor(model => model.Precio, "{0:C}")</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fech_prox_tenecia)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fech_prox_tenecia)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Fech_prox_verificacion)</strong></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.Fech_prox_verificacion)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-sm-12">
            <div>
                <img src="@Url.Content(ViewBag.ImagePath)" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<br />
<div>
    @if (fiperfil == "1")
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id_unidad">Editar</a>
    }
    | <a asp-action="Index">Regresar a la lista</a>
</div>
