@model IEnumerable<Serfitex.Models.Unidades>

@{
    ViewData["Title"] = "Index";
}

<h1>Unidades</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) // Cambiado a Count() para el índice
        {
            var item = Model.ElementAt(i); // Obtiene el item actual del modelo
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Num_placa)
                </td>
                <td>
                    @($"${item.Precio:N2}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                @* <td>
                    @ViewBag.Estatus[i]
                </td> *@
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id_unidad" class="btn btn-primary">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@item.Id_unidad" class="btn btn-primary">Editar</a>
                    <a asp-action="Venta" asp-route-id="@item.Id_unidad" class="btn btn-primary">Venta</a>
                </td>
            </tr>
        }
    </tbody>
</table>
